<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LedController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LedController.Properties.Settings>
            <setting name="COM" serializeAs="String">
                <value>never</value>
            </setting>
            <setting name="LED1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LED2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LED3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LED4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RGB1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RGB2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="R1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="R2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="firstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </LedController.Properties.Settings>
    </userSettings>
</configuration>